<!DOCTYPE html>
{% extends "base.html" %}
  {% block body_block%}
  <h3>Donation Details</h3>
  <ul>
    <form method="post">
      <!-- Management data of formset -->
      {{ donations.management_form }}
      {{ donations.management_data }}
      {% for donation in donations %}
      <li>{{ donation }}
        <input type="button" name="" class="btn btn-danger" onclick="location.href='{% url 'donations_app:delete_donation' donations.id %}'" value="Delete">
      </li>
      {% endfor %}
      <input type="submit" class="btn btn-primay" value="Save">
      {% csrf_token %}
    </form>

  </ul>

  {% endblock %}
